---
title: "rehearsal"
linkTitle: "rehearsal - process relation tool"
---

{{< blocks/cover title="rehearsal: freedom and creative:)" image_anchor="top" height="full" color="gray" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary ymr-3 mb-4" href="{{ .Site.Params.url_latest_version }}">
		<b>Download Latest</b> <i class="fa fa-download ml-2 "></i>
	</a>
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/getting-started" >}}">
		<b>Getting Started</b> <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>	
	<p class="lead mt-5">rehearsalは世界でもっとも自由度のあるテスト環境、クリエイティブな開発環境を提供します。</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}

{{% blocks/lead color="primary" %}}
<b>rehearsal</b> はテスト環境を構築するために開発されたプロセスリレーションツールです。<br/>
一般的な入出力機能および通信規格を用いて、プロセスレベル、アプリケーションレベル、デバイスレベルで分割されたプロダクト間の通信を行うための橋渡し役となります。
{{% /blocks/lead %}}

{{< blocks/section color="secondary" type="features">}}
{{% blocks/feature icon="fa-lightbulb" title="自由ライセンスの下に公開されます" url="/docs/licenses/" %}}
<b>rehearsal</b> は<b> General Public License version 3</b>の下に公開され、目的に関係なく全ての人が利用できます。
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="機能改善案を<b>強く</b>歓迎します" url="https://github.com/google/docsy" %}}
<b>rehearsal</b> は発展途上のソフトウェアであり、不完全な部分がかなりあります。Githubで改善案を募集しています。
{{% /blocks/feature %}}


{{% blocks/feature icon="fa fa-handshake" title="改善のための援助を歓迎します" url="https://twitter.com/docsydocs" %}}
<b>rehearsal</b> は改善を行うための支援を募集しています。
{{% /blocks/feature %}}


{{< /blocks/section >}}

