a, .btn {
    transition: 0.3s;
}
strong {
    font-weight: bold;
}

#td-cover-block-0 {
    background: black !important;
}

footer {
    a {
        color: white;
        &:hover {
            color: white;
        }
    }
}