html, body, aside {
    scrollbar-color: lightgray $secondary !important;
    scrollbar-width: auto !important;
    &::-webkit-scrollbar {
        width: 5px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: $secondary;
        border-radius: 100px;
    }
    &::-webkit-scrollbar-track {
        background-color: lightgray;
    }
}
a, .btn, .ptn-primary, .ptn-secondary {
    transition: 0.5s;
}
.td-section, .td-page{
    .td-main{
        a {
            color: $primary !important;
            &:hover {
                color: $secondary !important;
            }
        }
        main {
            a {
                font-weight: bold;
            }
        }    
        aside {
            right: 10px;
            padding-left: 20px;
            &::-webkit-scrollbar {
            }
            &::-webkit-scrollbar-track {
                background: lightgray;
                border-radius: 100px;
            }
        }
        #TableOfContents {
            a {
                font-size: 88%;
            }
        }
    }
}
code:not(pre > code) {
    color: $secondary !important;
}

strong {
    font-weight: bold;
}

#td-cover-block-0 {
    background: black !important;
}

footer {
    a {
        color: white;
        &:hover {
            color: white;
        }
    }
}
