a, .btn, .ptn-primary, .ptn-secondary {
    transition: 0.5s;
}
.td-section{

    .td-main{
        a {
            color: $primary !important;
            &:hover {
                color: $secondary !important;
            }
        }
        #TableOfContents {
            a {
                font-size: 88%;
            }
        }
    }
}
code:not(pre > code) {
    color: $secondary !important;
}

strong {
    font-weight: bold;
}

#td-cover-block-0 {
    background: black !important;
}

footer {
    a {
        color: white;
        &:hover {
            color: white;
        }
    }
}
